backcall
certifi
chardet
cycler
decorator
ipython
ipython-genutils
jedi
kiwisolver
matplotlib
numpy
pandas
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
requests
six
tornado
traitlets
urllib3
wcwidth
XlsxWriter
