backcall
certifi
chardet
cycler
decorator
idna
ipython
ipython-genutils
jedi
kiwisolver
matplotlib
numpy
panda
pandas
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
requests
simplegeneric
six
tornado
traitlets
urllib3
wcwidth
XlsxWriter
